<link tag='submodule/tag-two.html'/>



<template>
  <h2>Title</h2>
  <p> Lorem ipsum dolor sit amet, <b>consetetur</b> sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur <b>sadipscing</b> elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
 
  <tag-two></tag-two>
</template>





<script>
	connectedCallback() {
		console.log('tag-one working',this);
	}
</script>





<style>
	h2 {
		color: CornflowerBlue;
	}
	b{
		color: red;
	}
</style>